@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
